[project]
	description = Salt state tree for HPCS PaaS
[access "refs/*"]
	owner = group user/Jonathan Harker (jesusaurus)
[access "refs/for/refs/*"]
	read = group user/Jonathan Harker (jesusaurus)
	push = group user/Jonathan Harker (jesusaurus)
	label-Code-Review = -2..+2 group user/Jonathan Harker (jesusaurus)
	label-Verified = -1..+1 group user/Jonathan Harker (jesusaurus)
	rebase = group user/Jonathan Harker (jesusaurus)
	removeReviewer = group user/Jonathan Harker (jesusaurus)
	submit = group user/Jonathan Harker (jesusaurus)
[access "refs/heads/*"]
	read = group user/Jonathan Harker (jesusaurus)
	create = group user/Jonathan Harker (jesusaurus)
	push = +force group user/Jonathan Harker (jesusaurus)
	pushMerge = group user/Jonathan Harker (jesusaurus)
[access "refs/tags/*"]
	push = +force group user/Jonathan Harker (jesusaurus)
	pushTag = group user/Jonathan Harker (jesusaurus)
	pushSignedTag = group user/Jonathan Harker (jesusaurus)
